body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  border: solid black 1px;
  margin: auto;
  width: 50%;
  font-size: 24px;

}

table th {
  border:solid black 1px;
  font-size: 20px;

}

table td {
  border:solid black 1px;
  font-size: 18px;


}

h2 {
font-weight: bold;

}
