extends ../layout

block content
  h1 Albums
  a(href="/albums/new") New Album
  table
    thead
      tr
        th Genre
        th Artist
        th Name
    tbody
      if  allAlbums
        for album in allAlbums
          tr
            td= album.genre
            td= album.artist
            td
              a(href='/albums/' + album._id)= album.name
